/* Add your styles for layout and appearance here */
@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto Regular", sans-serif;
  background-color: hsl(235, 18%, 26%);
  color: hsl(235, 18%, 26%);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 60px;
  background-color: white;
  border-radius: 30px;
  max-width: 900px; /* Adjust max-width as needed */
}

.text-content {
  max-width: 400px;
  font-weight: 400;
}

h1 {
  font-size: 58px;
  font-weight: 1000;
  margin: 0;
  margin-bottom: 25px;
  color: hsl(234, 29%, 20%);
}

.sub-header {
  margin-bottom: 30px;
  font-weight: 400;
}

p {
  font-size: 16px;
  color: hsl(235, 18%, 26%);
}

ul {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: hsl(235, 18%, 26%);
  font-weight: 400;
  text-align: left;
}

.checkmark {
  vertical-align: middle;
  margin-right: 10px;
  padding: 5px 5px 5px 0px;
}

label {
  color: hsl(234, 29%, 20%);
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.error-message {
  position: absolute;
  margin-top: 20px;
  margin-left: 260px;
  width: 100%;
  color: hsl(4, 100%, 67%);
  font-weight: bold;
  display: none;
}

.error-message.active {
  display: block;
}

.newsletter-form input[type="email"] {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid hsl(231, 7%, 60%);
  font-family: inherit;
  font-size: 16px;
  -webkit-appearance: none; /* WebKit/Blink browsers */
  -moz-appearance: none; /* Gecko browsers */
  appearance: none;
}

.newsletter-form input[type="email"].invalid {
  outline: none;
  border-color: hsl(4, 100%, 67%);
  background-color: hsla(4, 50%, 87%, 0.5);
  color: hsl(4, 100%, 67%);
}

.newsletter-form input[type="email"].invalid::placeholder {
  color: rgba(255, 100, 100, 0.8);
}

.newsletter-form input:focus {
  outline: solid 1px hsl(234, 29%, 20%);
}

button {
  background-color: hsl(234, 29%, 20%);
  border: none;
  color: white;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, #ff4381, #ff6347);
}

.newsletter-image {
  background-image: url("./assets/images/illustration-sign-up-desktop.svg");
  margin-left: 60px;
}

.mobile-newsletter-image {
  display: none;
}

.success-message {
  display: none;
  background-color: white;
  width: 25%;
  height: 80%;
  padding: 50px 58px 50px 58px;
  border-radius: 30px;
}

.visible {
  display: flex;
  flex-direction: column;

}

.success-icon-image {
  height: 60px;
  width: 55px;
  margin-bottom: 30px;
}

.success-message-header {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 54px;
}

.success-message-p-text {
  margin: 20px 0px 40px;
  line-height: 150%;
  font-size: 15px;
}

.email-address {
  color: hsl(234, 29%, 20%);
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 375px) {
  main,
  .text-content {
    box-sizing: border-box;
  }

  main {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    z-index: 1;
  }

  .text-content {
    position: absolute;
    overflow: hidden;
    margin: 25px 0px;
    padding: 0px 25px 0px 25px;
    bottom: 0;
    width: 100%;
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 0px 0px 30px;
  }

  .newsletter-image {
    display: none;
  }

  .mobile-newsletter-image {
    display: block;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin: 0px;
  }

  .sub-header,
  .list-item {
    font-weight: 700;
  }

  .error-message {
    font-size: 14px;
    position: absolute;
    left: -50px;
  }

  .checkmark {
    margin-bottom: 3px;
    padding: 10px 5px 10px 0px;
  }

  form label {
    font-size: 13px;
  }

  .success-message {
    justify-content: center;
    width: 100%;
    max-width: 375px;
    min-height: 100vh;
    border-radius: 0px;
    padding: 25px;
  }

  .success-icon-image {
    margin-top: 150px;
    height: 65px;
    width: 65px;
  }

  .success-message-header {
    margin-top: 15px;
  }

  .dismiss-button {
    margin-top: 260px;
    padding: 18px;
  }

  footer {
    display: none;
  }
}
